.navbar__brand{
    margin-left: 5%;
}

.profile{
    margin-left: 2%;
    width: 15%;
}

.navbar_logo{
    margin-left: 38%;
}

.navB{
    background-color:#d3c7e1;
}

.files{
    margin-left: 32%;
}


